@use "../../../../../styles/mixins.scss" as m;
@use "../../../../../styles/variables.scss" as v;

.city {
  $width: 10.8rem;
  $height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11.34rem;
  height: 7.875rem;
  @include m.transition(all, 0.15s, ease-in-out);

  &:hover {
    margin: 0;
    transform: scale(1.05);
  }

  .city__image,
  .city__name__container {
    position: absolute;
    width: $width;
    height: $height;
    border-radius: 0.5rem;
  }

  .city__name__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;
    padding: 1rem;
    .city__name {
      color: white;
    }
  }

  .city__image {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}

.japan--light {
  .city__name__container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.japan--dark {
  .city__name__container {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
