@use "../../../../../styles/mixins" as m;
@use "../../../../../styles/variables" as v;

.language-selector {
  display: flex;
  & * {
    flex-shrink: 0;
  }
  .language-selector__activator {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0.5em;
    width: 4.1em !important;
    border-radius: 3em !important;

    .language-selector__language-icon,
    .language-selector__language-flag-icon {
      grid-area: 1 / 1 / 2 / 2;
      height: 100%;
    }

    .language-selector__language-icon {
      margin-left: auto;
      width: 1.3em;
    }

    .language-selector__language-flag-icon {
      margin-top: auto;
      width: 1.4em;
    }
  }
  .language-selector__button,
  .language-selector__activator {
    @include m.transition(all, 0.3s, ease-in-out);
  }

  .language-selector__button--it,
  .language-selector__button--en {
    &.language-selector__button--active {
      @include m.set-button-colors(
        v.$languageButton,
        v.$languageButtonContent,
        v.$languageButtonHover
      );
    }
  }

  .language-selector__activator {
    &.language-selector__activator--open {
      @include m.set-button-colors(
        v.$languageButton,
        v.$languageButtonContent,
        v.$languageButtonHover
      );
    }
  }

  .language-selector__button--it {
    transform: translateX(5em) scale(0.6);
    &.language-selector__button--open {
      transform: translateX(-1em);
    }
  }
  .language-selector__button--en {
    transform: translateX(2.5em) scale(0.6);
    &.language-selector__button--open {
      transform: translateX(-0.5em);
    }
  }
}
