@use "../../styles/variables" as v;

.japan {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .japan__content {
    width: 100%;
    border-right: 1rem solid v.$darkBackground;
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
    margin-inline: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    * {
      flex-shrink: 0;
    }
    .japan__content__dates,
    .japan__content__cities {
      height: 104.2rem;
      padding-bottom: 1rem;
      width: auto;
    }
    .japan__content__dates {
      margin-right: 1rem;
    }
  }
}

.japan--dark {
  background-color: v.$darkBackground;
  color: v.$lightBackground;
}

.japan--light {
  background-color: v.$lightBackground;
  color: v.$darkBackground;
}
