@mixin transition($property, $duration: 0.2s, $timing: ease-in-out) {
  transition: $property $duration $timing;
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
}

@mixin set-button-colors($button, $buttonContent, $buttonHover) {
  background-color: $button;
  color: $buttonContent;
  &:hover {
    background-color: $buttonHover;
  }
  svg {
    fill: $buttonContent;
    .language-0,
    .document-0,
    .link-0,
    .shopping-0 {
      fill: $buttonContent;
    }
  }
}
