@use "./variables.scss" as v;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  background-color: v.$background;
  color: v.$fontColor;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  * {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.v-popper__popper {
  opacity: 0.8;
  .v-popper__wrapper {
    .v-popper__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: v.$background;
      color: v.$fontColor;
      font-size: 1.1rem;
      font-weight: 500;
    }
    .v-popper__arrow-container {
      .v-popper__arrow-outer {
        border-color: v.$background;
      }
    }
  }
}
