@use "./variables.scss" as v;
@use "./mixins.scss" as m;

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(v.$pink, v.$orange);
  border-radius: 1rem;
}
