@use "./variables.scss" as v;

::-webkit-scrollbar {
  background-color: v.$backgroundDark;
  width: 0.5rem;
  border-radius: 2rem;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, v.$color600),
    color-stop(1, v.$color300)
  );
  border-radius: 10px;
}
