$background: #111827;
$backgroundHover: #283341;
$fontColor: #f1f1f1;

$pink: #eb3678;
$orange: #fb773c;

$lightPurple: #c7b2f9;

$linkButtonsIconColor: #f1f1f1;

$cardBackground: rgba(255, 255, 255, 0.1);
$cardBackgroundHover: rgba(255, 255, 255, 0.17);
