@use "../../../../../styles/variables.scss" as v;

.row-w-bar {
  display: flex;
  height: 7.825rem;
  width: 25rem;
  align-items: center;
  position: relative;

  .row-w-bar__content {
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;

    &.row-w-bar__content--2 {
      justify-content: space-between;
    }
  }

  .row-w-bar__container {
    opacity: 0.5;
    z-index: -1;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    .row-w-bar__bar {
      height: 0.15rem;
      width: 1.4rem;
      border-radius: 1rem;
    }
  }
}

.japan--dark {
  .row-w-bar__bar {
    background-color: v.$lightBackground;
  }
}

.japan--light {
  .row-w-bar__bar {
    background-color: v.$darkBackground;
  }
}
