.dates {
  $width: 8rem;
  $height: 7.825rem;
  display: flex;
  flex-direction: column;
  width: $width;
  height: $height;
  align-items: flex-start;
  justify-content: center;
  p {
    font-size: 1.15rem;
    text-transform: capitalize;
  }
}
